<p>HELLO THIS IS THE NEW ARTWORK PAGE</p>

<form action="/artworks" method="post">
  
  
  <input type="text" placeholder="Location" name = "artwork[location]">
  <input type="text" placeholder="artist" name = "artwork[artist]">
  <input type="text" placeholder="Artwork title" name = "artwork[name]">

  <input type="text" placeholder="Description" name="artwork[description]">

  <input type="text" placeholder="Number of likes" name = "artwork[likes]">
  <input type="submit" value="Create">
</form>